container_commands:
  01_migratezero:
    command: "python3 manage.py migrate zero"
  02_makemigrations:
    command: "python3 manage.py makemigrations"
  03_migration:
    command: "python3 manage.py migrate"
packages:
 yum:
     freetype-devel: []
     libjpeg-turbo-devel: []
     libpng-devel: []
option_settings:
 aws:elasticbeanstalk:container:python:
   WSGIPath: eatcha_project/wsgi.py
