packages:
container_commands:
  01_makemigrations:
    command: "python3 manage.py makemigrations"
  02_migration:
    command: "python3 manage.py migrate"
  03_chmod_sqlite:
    command: "chmod 666 db.sqlite3"

 yum:
     freetype-devel: []
     libjpeg-turbo-devel: []
     libpng-devel: []
option_settings:
 aws:elasticbeanstalk:container:python:
    WSGIPath: eatcha_project/wsgi.py
