{% extends "shop/layout.html" %}

{% block content %}
<style>
.content{
    background-color:white;
    font-family: 'Nanum Pen Script', cursive;
    font-size : 24px;
}
span.star-prototype, span.star-prototype > * {
    height: 16px; 
    background: url(http://i.imgur.com/YsyS5y8.png) 0 -16.5px repeat-x;
    width: 80px;
    display: inline-block;
}
 
span.star-prototype > * {
    background-position: 0 -5px;
    max-width:80px; 
}
</style>
    {% if prev_post %}
        <a href="{% url "shop:detail" prev_post.id %}?tag={{ tag }}"class="fh5co-post-prev"><span><i class="icon-chevron-left"></i> Prev</span></a>
    {% endif %}
    {% if next_post %}
        <a href="{% url "shop:detail" next_post.id %}?tag={{ tag }}"class="fh5co-post-next"><span>Next <i class="icon-chevron-right"></i></span></a>
    {% endif %}
    <!-- END #fh5co-header -->
    <div class="container-fluid">
        <div class="row fh5co-post-entry single-entry">
            <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                <figure class="animate-box">
                    <center><img src="{{ post.image.url }}" alt="Image" class="img-responsive" style="width:700px; height:500px;"></center>
                </figure>
                <span class="fh5co-meta animate-box">{{post.tags}}</span>
                <h2 class="fh5co-article-title animate-box">{{post.title}}</h2>
                <span class="fh5co-meta fh5co-date animate-box">{{post.date_created}}</span>

                <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-article">
                    <div class="row">

                        <div class="col-lg-4 animate-box">
                            <div class="fh5co-highlight right">
                                <h4>식당설명</h4>
                                <p class="content">{{post.content}}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 animate-box">
                            <div class="fh5co-highlight right">
                                <h4>메뉴</h4>
                                <p class="content">{{post.menu}}</p>
                            </div>
                        </div>
                        <!--<div class="col-lg-4 animate-box">
                            <div class="fh5co-highlight right">
                                <h4>위치</h4>
                                <p class="content">{{post.tag_set.all.0.location}} </p>
                            </div>
                        </div>
                        -->
                        <div class="col-lg-4 animate-box">
                            <div class="fh5co-highlight right">
                                <h4>영업시간</h4>
                                <p class="content">영업시간:{{post.avail_time}} </p>
                            </div>
                        </div>
                        <div class="col-lg-4 animate-box">
                            <div class="fh5co-highlight right">
                                <h4>전화번호</h4>
                                <p class="content">전화번호{{post.phone_number}}</p>
                            </div>
                        </div>

                    </div>
<!DOCTYPE html>
<html>
  <head>
    <style>
        .blog-wrapper{width:960px; margin:0 auto; margin-top:20px; }

        .blog-contain-div{border-bottom:1px solid #e0e0e0; width:100%; display:flex;display:-webkit-flex;}
        .blog-content-div{flex:3;-webkit-flex:3; padding-top:21px; padding-bottom:19px; display:flex;display:-webkit-flex;}
        .blog-info-div{flex:1;-webkit-flex:1;}
        .blog-img{width:70px; height:70px; margin:13px 0px 17px 0px;}
        .blog-img img{width:100%; height:100%; border-radius: 6px;}
        .blog-content{flex:4; -webkit-flex:4; padding:10px 24px;}
        .blog-title{width:100%; margin:0px 0px 10px 0px; font-size:14px; color:#009add;}
        .blog-snippet-span{font-size:14px; color:#7b7b7b;}
        .blog-info{border-left:1px solid #e0e0e0;  margin:24px 0px 21px 0px; padding:0px 17px;}
        .blog-info-content{ display:flex;display:-webkit-flex; width:100%; margin-bottom:8px;}
        .blog-info-img{width:32px; height:19px; margin-right:22px;}
        .blog-info-text{ font-size:14px; text-align:left; flex:1;-webkit-flex:1; color:#009add;}

        #review-title {
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        color: #4a4a4a;
        margin-bottom: 31px;
}



       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var lat = {{ post.lat }};
        var lng = {{ post.lng }};
        var myLatLng = {lat: lat, lng: lng};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5L9VzTwu1-AIMiRw_vRGzyI6atflF4yI&callback=initMap">
    </script>
    <br><br><br>
    <h2>상세 후기 </h2>
    <div class="fh5co-highlight ">
       {%if user.is_authenticated %}
        <table>
                <h3>{{user}} 님의 후기</h3>
            당신의 평가: <span class="star-prototype">
                    {% for rating in user.rating_set.all%}
                    {%if  post.title|stringformat:"s" == rating.shop|stringformat:"s"%}
                    {{rating.score}}
                    {%endif%}
                    {%endfor%}
            </span>
            <form action="" method="post">
                {% csrf_token %}
                <table>{{ form.as_table }}</table>
                <div align ="center"><input class="btn btn-basic" type="submit" value=" 확 인" /></div>
            </form>
        </table>
        {%else%}
        <p>로그인해야 후기를 작성할 수 있습니다.</p> 
        {%endif%} 
    </div>
        
        {%for review in post.review_set.all %}
        <div class="fh5co-highlight ">
                <h3>by  {{review.user}} </h3><br>
                <span class="star-prototype">
                        {% for rating in review.user.rating_set.all%}
                        {%if  post.title|stringformat:"s" == rating.shop|stringformat:"s"%}
                        {{rating.score}}
                        {%endif%}
                        {%endfor%}
                    
                </span><br>
        {{review.content}}<br>
        <div>
            <p class="pull-right" id="m">({{review.notgood}})</p>
            
          {%if not user.is_authenticated %}
          <button onclick="button1_click();" class="pull-right" ><img src="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/img/review/ic_profile_review_down_on.png" />비공감</button>
          {%else%}
          <form action="" method="get">
          <button onclick="button2_click();"class="pull-right" name="mb" value={{review.id}}><img src="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/img/review/ic_profile_review_down_on.png" />비공감</button>
          {%endif%}
             </form>
                 <p class="pull-right" id="p">({{review.good}})</p>
          {%if not user.is_authenticated %}
          <button onclick="button1_click();" class="pull-right" ><img src="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/img/review/ic_profile_review_up_on.png" style="margin-left:5px;" />공감</button>
          {%else%}
             <form action="" method="get">
            <button onclick="button3_click();" class="pull-right" name="pb" value={{review.id}}><img src="https://dfzrjox9sv97l.cloudfront.net/dicons_20160930/img/review/ic_profile_review_up_on.png" style="margin-left:5px;" />공감</button>
          {%endif%}
            </form>
        </div><br>
        <div><small>  {{review.date_created}} </small></div>
        </div>
        {%endfor%}
        <script>
                $.fn.generateStars = function() {
                    return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*16));});
                };
                $('.star-prototype').generateStars();
                //별점주기
        </script>
        <script>
                function button1_click(){
                    
                    alert("로그인해야 이용가능합니다.");
                };
                function button2_click(){
                    
                    alert("비공감해 주셨습니다.");
                };
                function button3_click(){
                    
                    alert("공감해 주셨습니다.");
                };
                //공감 로그인시에만
        </script>
  </body>
</html>
                </div>
            </article>
        </div>


    </div>

<div id="div_blog" class="blog-wrapper">
    <div id="review-title">추천 블로그</div><div id="blog_area">

    <div class="blog-contain-div">
        <div class="blog-content-div">
            <div class="blog-img"><img src="https://d2t7cq5f1ua57i.cloudfront.net/images/p_images/50072/53697/50072_53697_65_0_8798_201612932821408_70x70.jpg" onerror="noImage(this,'blog')"></div>
            <div class="blog-content">
                <div class="blog-title">
                    <form action="open_blog.php" method="post" target="_blank" class="ng-pristine ng-valid">
                        <a href="{{ post.link1 }}">{{ post.blog_title1 }}</a>
                        <input type="hidden" name="url" value="blog.naver.com/PostView.nhn?blogId=midoria81&amp;logNo=220856246112&amp;redirect=Dlog&amp;widgetTypeCall=true">
                        <input type="hidden" name="v_rid" value="c5tiaEcMs5Di">
                        <input type="hidden" name="src" value="blog.naver.com">
                        <input type="hidden" name="p_id" value="10218408">
                    </form>
                </div>

                 <span class="blog-snippet-span"> {{ post.blog_content1 }}&amp;</span>
            </div>
        </div>

        <div class="blog-info-div">

            <div class="blog-info">

                <div class="blog-info-content">
                    <img class="blog-info-img" src="img/profile/blog/title_from.png" alt="From">
                    <span class="blog-info-text">blog.naver.com</span>
                </div>
                <div class="blog-info-content">
                    <img class="blog-info-img" src="img/profile/blog/title-by.png" alt="By">
                    <span class="blog-info-text">
                        <a href="{{ post.link1 }}" target="_blank">{{ post.blog_title1 }}</a>                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="div_blog" class="blog-wrapper">

    <div class="blog-contain-div">
        <div class="blog-content-div">
            <div class="blog-img"><img src="https://d2t7cq5f1ua57i.cloudfront.net/images/p_images/50072/53697/50072_53697_65_0_8798_201612932821408_70x70.jpg" onerror="noImage(this,'blog')"></div>
            <div class="blog-content">
                <div class="blog-title">
                    <form action="open_blog.php" method="post" target="_blank" class="ng-pristine ng-valid">
                        <a href="{{ post.link2 }}">{{ post.blog_title2 }}</a>
                        <input type="hidden" name="url" value="blog.naver.com/PostView.nhn?blogId=midoria81&amp;logNo=220856246112&amp;redirect=Dlog&amp;widgetTypeCall=true">
                        <input type="hidden" name="v_rid" value="c5tiaEcMs5Di">
                        <input type="hidden" name="src" value="blog.naver.com">
                        <input type="hidden" name="p_id" value="10218408">
                    </form>
                </div>

                 <span class="blog-snippet-span"> {{ post.blog_content2 }}&amp;</span>
            </div>
        </div>

        <div class="blog-info-div">

            <div class="blog-info">

                <div class="blog-info-content">
                    <img class="blog-info-img" src="img/profile/blog/title_from.png" alt="From">
                    <span class="blog-info-text">blog.naver.com</span>
                </div>
                <div class="blog-info-content">
                    <img class="blog-info-img" src="img/profile/blog/title-by.png" alt="By">
                    <span class="blog-info-text">
                        <a href="{{ post.link2 }}" target="_blank">{{ post.blog_title2 }}</a>                    </span>
                </div>
            </div>
        </div>
    </div>


        <div id="div_blog" class="blog-wrapper">

    <div class="blog-contain-div">
        <div class="blog-content-div">
            <div class="blog-img"><img src="https://d2t7cq5f1ua57i.cloudfront.net/images/p_images/50072/53697/50072_53697_65_0_8798_201612932821408_70x70.jpg" onerror="noImage(this,'blog')"></div>
            <div class="blog-content">
                <div class="blog-title">
                    <form action="open_blog.php" method="post" target="_blank" class="ng-pristine ng-valid">
                        <a href="{{ post.link3 }}">{{ post.blog_title3 }}</a>
                        <input type="hidden" name="url" value="blog.naver.com/PostView.nhn?blogId=midoria81&amp;logNo=220856246112&amp;redirect=Dlog&amp;widgetTypeCall=true">
                        <input type="hidden" name="v_rid" value="c5tiaEcMs5Di">
                        <input type="hidden" name="src" value="blog.naver.com">
                        <input type="hidden" name="p_id" value="10218408">
                    </form>
                </div>

                 <span class="blog-snippet-span"> {{ post.blog_content3 }}&amp;</span>
            </div>
        </div>

        <div class="blog-info-div">

            <div class="blog-info">

                <div class="blog-info-content">
                    <img class="blog-info-img" src="img/profile/blog/title_from.png" alt="From">
                    <span class="blog-info-text">blog.naver.com</span>
                </div>
                <div class="blog-info-content">
                    <img class="blog-info-img" src="img/profile/blog/title-by.png" alt="By">
                    <span class="blog-info-text">
                        <a href="{{ post.link3 }}" target="_blank">{{ post.blog_title3 }}</a>                    </span>
                </div>
            </div>
        </div>
    </div>







    </div>
 </div>

{% endblock %}

